<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 화면</title>
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  <form class="login-form" action="/login/user" method="post">
    <h2 class="login-title">로그인</h2>
    <div class="login-inputs">
      <input type="text" class="login-input" placeholder="유저 이름" name="username" required>
    </div>
    <button type="submit" class="login-button">로그인</button>
  </form>
</body>
</html>
